

@use '../custom' as *;
 
.bt {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.drink {
	margin-left: 9rem;
	padding-top: 5rem;
}

.friex {
	top: 5%;
	right: 5%;
	padding-top: 9rem;
}